/* Color palette */

// Grey
//$color-gray:          #fafafa;
//$color-lightgray:     #f1f1f1;
//$color-lightgray2:    #dddddd;
$color-darkgrey1:     #757575;
$color-darkgrey2:     #616161;
$color-darkgrey3:     #424242;
$color-darkgrey4:     #212121;
//$grey-lighten-1:      #BDBDBD;
//
//// Pink
//$color-pink:          #E91E63;
//
//// Red
//$color-red:           #e63a36;
//$red-accent-4:        #d50000;
//
//// Orange
//$color-orange:        #ff9800;
//
//// Yellow
//$color-yellow:        #ffff8d;
//
//// Green
//$color-green:         #4CAF50;
//
//// Teal
//$color-teal:          #009688;
//
//// Blue
//$color-blue:          #2196f3;
//$color-blue2:         #33aaff;
//$color-blue3:         #15c;   // Gmail links
//$color-blue-hover:    #5e97f6; // Inbox
//$color-lightblue:     #03A9F4;
//$color-blue-lighten-3:     #81D4FA;
//$color-blue-lighten-4:     #E3F2FD;
//
//// Purple
//$color-purple:        #2a56c6;
//$color-purple-darken-1: #5E35B1;
//$color-yellow:        #ffff8d;
//$color-yellow-lighten-3:    #fff59d;
//$color-yellow-lighten-5:    #fffde7;
//
//
//// Kanban
//$color-overdue:       #FF1744;
//$color-today:         #2196f3;
//$color-tomorrow:      #673AB7;
//$color-upcoming:      #9C27B0;
//
///* Compose view selected button */
//$color-compose-button:#2196f3;
//
///* text color palette */
$color-text-gray: #999;
$grey-lighten-5: #FAFAFA;
$grey-lighten-4: #F5F5F5;
$grey-lighten-3: #EEEEEE;
$grey-lighten-2: #E0E0E0;
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;
//
///* Icons */
//$icon-scheduled:'\e855';
//$icon-snoozed:  '\e046';
//$icon-stamp:    '\e335';
//$icon-todo:     '\e878';
